<div class = "col-6" id= "<%= dom_id(group) %>">
  <div class="card">
    <div class="card-header px-4 pt-4">
      <div class="card-actions float-right">
        <div class="badge bg-primary text-light my-2"><%= pluralize(group.members_count, "member") %></div>
      </div>
      <h5 class="card-title mb-0"><%= link_to group.name, group_path(group), class: "text-dark" %></h5>
      <div class="dropdown show">
        <a href="#" data-toggle="dropdown" data-display="static">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="19" cy="12" r="1"></circle><circle cx="5" cy="12" r="1"></circle></svg>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <%= link_to "Add User to Group", new_member_path(:group_id => group.id), class: "dropdown-item text-dark", remote: true %>
          <%= link_to "Remove User from Group", remove_member_path(:group_id => group.id), class: "dropdown-item text-dark", remote: true %>
          <%= link_to "Edit Group", edit_group_path(group), class: "dropdown-item text-dark", remote: true %>
          <%= link_to "Delete Group", group, method: :delete, class: "dropdown-item text-dark", remote: true %>
        </div>
      </div>
    </div>
    <div class="card-body px-4 pt-2">
      <p><strong>About:</strong> <%= group.description %></p>
      
      <%= render "groups/group_list", group: group %>


      <div id = "<%= dom_id(group) %>_user_bubbles" class="d-flex align-items-center mt-3">
        <% if group.members_count < 6  %>
          <% group.contacts.by_created_date.each do |contact| %>
            <div title ="<%=contact.name%>"><%= image_tag contact.image, class: "rounded-circle mr-1", width: 28 %></div>
          <% end %>
        <% else %> 
          <% group.contacts.by_created_date.first(5).each do |contact| %>
            <div title ="<%=contact.name%>"><%= image_tag contact.image, class: "rounded-circle mr-1", width: 28 %></div>
          <% end %>
          <div class="badge bg-light"> + <%= (group.members_count - 5) %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>




