<div class="card mb-2">
  <div class = "row g-0">
    <div class="col-md-3">
      <%= image_tag contact.image, class: "img-thumbnail"%>
    </div>
      
    
    <div class = "card-body col-md-9">
      <h5 class="card-title">
        <%= link_to contact.name, contact_path(contact), class: "text-dark" %>
      </h5>
      <table class="table table-sm table-borderless">

        <tr>
          <th class="card-title">Preferred Method</th>
          <th class="card-title">Email</th>
        </tr>

        <tr>
          <td class="card-text"><%= contact.preferred_method.capitalize %></td>
          <td class="card-text"><%= contact.email %></td>
        </tr>

        <tr>
          <th class="card-title">Personal #</th>
          <th class="card-title">Work #</th>
        </tr>
        
        <tr>
          <td class="card-text"><%= Phonelib.parse(contact.personal_number).national %></td>
          <td class="card-text"><%= Phonelib.parse(contact.work_number).national %></td>
        </tr>

      </table>
    </div>
  </div>
</div>
