
<div class="card l-bg-<%=["gray"].sample%>">
  <div class = "card-header">
    <div class="d-flex justify-content-between align-items-center">
      <div><strong><%= link_to contact.name, contact_path(contact), class: "text-light" %></strong></div>
      <div>
        <% if contact.facebook_url.present? %>
          <a href="<%= contact.facebook_url %>"><i class="fab fa-facebook fa-lg" style="color:white"></i></a> 
        <% end %>

        <% if contact.instagram_url.present? %>
          <a href="#"><i class="fab fa-instagram fa-lg" style="color:white"></i></a>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card-body mt-0 mb-1 pt-0 pb-2">
      <div><small>Prefers <%= contact.preferred_method%></small></div>
      <div><i class="fas fa-home"></i> : <%= Phonelib.parse(contact.personal_number).national %></div>
      <div><i class="fas fa-briefcase"></i> : <%= Phonelib.parse(contact.work_number).national %></div>
      <div><i class="fas fa-envelope"></i> : <%= contact.email %></div>
  </div>
  <div class="card-footer mt-0 pt-0">
    <p class="card-text align-items-center"><small class="text-light">Last updated: <%= contact.updated_at.to_date %></small></p>
  </div>
</div> 

