<div class="card mb-2">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h1 class="h4 d-flex align-items-center">
      <%= image_tag contact.image, class: "rounded-circle mr-2", width: 48 %><%= link_to contact.name, contact_path(contact), class: "text-dark" %>
    </h1>
    <div>
      <button type="button" class="btn btn-outline-dark btn-sm">
        <%= link_to 'Edit Contact', edit_contact_path(contact), class: "text-dark" %>
      </button>
      <button type="button" class="btn btn-outline-dark btn-sm">
        <%= link_to 'Add to Group', edit_contact_path(contact), class: "text-dark" %>
      </button>
    </div>
  </div>
  <div class = "card-body">
    <table class="table table-sm table-borderless">

      <tr>
        <th>Preferred Method</th>
        <th>Organization</th>
        <th>Created</th>
        <th>Email</th>
      </tr>

      <tr>
        <td class="card-text"><%= contact.preferred_method.capitalize %></td>
        <td class="card-text"><%= contact.organization %></td>
        <td class="card-text"><%= contact.created_at.to_date %></td>
        <td class="card-text"><%= contact.email %></td>
      </tr>

      <tr>
        <th>Personal #</th>
        <th>Work #</th>
        <th>Facebook</th>
        <th>Instagram</th>
      </tr>
      
      <tr>
        <td class="card-text"><%= Phonelib.parse(contact.personal_number).national %></td>
        <td class="card-text"><%= Phonelib.parse(contact.work_number).national %></td>
        <td class="card-text"><%= contact.facebook_url %></td>
        <td class="card-text"><%= contact.instagram_url %></td>
      </tr>
   
    </table>
  </div>
</div>


