<head>
  <link rel="stylesheet" href="flashy_cards.css">
</head>
<body>

  <div id = "<%= dom_id(contact) %>_form">
    <%= form_with(model: contact, local: false) do |form| %>
      <% if contact.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

          <ul>
            <% contact.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="card l-bg-cyan">
        <div class = "card-header">
          <div class="d-flex justify-content-between align-items-center">
            <div class= "d-flex">
              <div class="field">
                <%= form.label :image %>
                <%= form.text_field :image %>
              </div>
              <div class="d-flex flex-column ml-2">
                <div class="field">
                  <%= form.label :name %>
                  <%= form.text_field :name %>
                </div>
                <div class="field">
                  <%= form.label :organization %>
                  <%= form.text_field :organization %>
                </div>
              </div>
            </div>
            <div>
              <div class = "field">
                <%= form.label :facebook_url %>
                <%= form.text_field :facebook_url %>
              </div>
              <div class = "field">
                <%= form.label :instagram_url %>
                <%= form.text_field :instagram_url %>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body mt-0 mb-1 pt-0 pb-2">

            <div class="field">
              <%= form.label :preferred_method %>
              <%= form.text_field :preferred_method %>
            </div>

            
            <div class="field">
              <%= form.label :personal_number %>
              <%= form.text_field :personal_number %>
            </div>
            
            
            <div class="field">
              <%= form.label :work_number %>
              <%= form.text_field :work_number %>
            </div>
            
            <div class="field">
              <%= form.label :email %>
              <%= form.text_field :email %>
            </div>
            
            <div class="actions">
              <%= form.submit %>
            </div>
        </div>
        <div class="card-footer mt-0 pt-0">
          <p class="card-text align-items-center"><small class="text-light">Last updated: <%= contact.updated_at.to_date %></small></p>
        </div>
      </div>
    <% end %>
  </div>
</body>