<head>
  <link rel="stylesheet" href="flashy_cards.css">
</head>
<body>
  <div>
    <h4 class="display-4"><i class="far fa-id-card"></i> My Contacts</h4>
  </div>
  
  <hr>

 
  <div class = "col-4">
    <%= search_form_for @q, local: false do |f| %>
      <div class = "d-flex align-items-center">
        <%= f.search_field :name_cont, class: "form-control" %> 
        <%= f.submit class: 'btn btn-primary btn-sm ml-2' %>
      </div>
    <% end %>
  </div>
  <div class = "container">
    <div id = "new-contact" class = "col-4">
      <%= link_to 'Add New Contact', new_contact_path, class: 'btn btn-primary btn-sm mt-2 mb-2',  remote: true %>
    </div>
  </div>
  
  




  <div class = "row mt-3">

    <% @contacts.by_created_date.each_with_index do |contact, index| %>

      <%= render "contacts/contact", contact: contact, index: index %>

    <% end %>

  </div>


</body>




