<head>
  <link rel="stylesheet" href="flashy_cards.css">
</head>
<body>
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="display-4"><i class="far fa-id-card"></i> My Contacts</h1>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <%= search_form_for @q, remote: true do |f| %>
          <div class="d-flex align-items-center">
            <%= f.search_field :name_cont, class: "form-control" %> 
            <%= f.submit id: "r-button", class: 'btn btn-secondary btn-sm ml-2' %>
          </div>
        <% end %>
      </div>
      <div>
        <%= link_to 'Add New Contact', new_contact_path, class: 'btn btn-primary btn-sm ml-3',  remote: true %>
      </div>
    </div>

  </div>
  
  <hr id="new-contact">



  
  <div id="contact-table-upper">
    <%= render "contacts/contact_table", contacts: @contacts %>
  </div>



</body>




