<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @contact.image %>
</p>

<p>
  <strong>Organization:</strong>
  <%= @contact.organization %>
</p>

<p>
  <strong>Preferred method:</strong>
  <%= @contact.preferred_method %>
</p>

<p>
  <strong>Personal number:</strong>
  <%= @contact.personal_number %>
</p>

<p>
  <strong>Work number:</strong>
  <%= @contact.work_number %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Instagram url:</strong>
  <%= @contact.instagram_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @contact.facebook_url %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @contact.owner_id %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
