<%= form_with(model: member, local: false) do |form| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.hidden_field :group_id %>
  </div>
  
  <div class = "field mt-3">
    <%= form.select(:contact_id, @contact_options) %>
  </div>

  <div class="actions mt-2">
    <%= form.submit "Add to Group" %>
  </div>
<% end %>
